<div class="container main">
  <form action="">
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">
        <i class="fa fa-search"></i
      ></span>
      <input
        type="text"
        class="form-control"
        placeholder="Filter"
        aria-label="Username"
        (keyup)="filter($any($event.target).value)"
        aria-describedby="basic-addon1"
      />
    </div>
  </form>

  <div class="notes-list" [@listAnim]>
    <app-note-card
      *ngFor="let note of filterdNotes; index as i"
      [link]="i.toString()"
      [@itemAnim]
      (delete)="deleteNote(i)"
      [title]="note.title"
      [body]="note.body"
    ></app-note-card>
  </div>
  <div class="d-grid gap-2">
    <button class="btn add-btn" type="button" routerLink="new">+ Add</button>
  </div>
</div>
